.wf__features-container__feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.wf__features-container__feature-pic {
  display: flex;
  align-items: center;
  max-width: 200px;
  min-height: 270px;
  margin: auto;
}

.wf__features-container__feature-pic img {
  max-width: 200px;
  margin-bottom: 1rem;
}


.wf__features-container__feature-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 2rem;
  text-align: center;
}

.wf__features-container__feature-title h1 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: var(--color-subtext);
  margin-bottom: 0.5rem;
}

.wf__features-container__feature-text {
  max-width: 300px;
  display: flex;
  text-align: center;
}

.wf__features-container__feature-text p {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 32px;
  color: var(--color-text);
  font-weight: 500;
  margin-bottom: 3rem;
}

@media screen and (max-width: 850px){
  .wf__featues-container__feature {
    margin: auto;
  }
}
